<div ng-controller="ConnectCtrl">
<h2>Connect</h2>
  <div ng-show="loading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
  <div ng-show="!loading">
    <div ng-show="connection">
      Name: {{ connection.identity.display_name }} <br/>
      Username: {{ connection.identity.username }} <br/>
      <a class="btn btn-primary" ng-click="nextStep()">Next &raquo;</a>
    </div>
    <div ng-show="!connection">
      <a class="btn btn-primary" href="/auth/salesforce">Connect to Salesforce</a>
    </div>
  </div>
</div>