@import "./bootstrap-nav-wizard.less";


.slide-animate-container {
  position:relative;
  min-height:400px;
  overflow:hidden;
  .slide-animate {
    &.ng-enter, &ng.leave {
      -webkit-transition:all 0.2s;
      transition:all 0.2s;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      display:block;
      padding:10px;
    }
    &.ng-enter {
      left:100%;
      &.ng-enter-active {
        left: 0;
      }
    }
    &.ng-leave {
      left:0;
      &.ng-leave-active {
        left:-100%;
      }
    }
  }
}


.loading-indicator {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: fadeOut(#fff, 50%);
  .loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
  }
}

.wizard-step-output, .wizard-step-template {
  .cloud-item, .template-item {
    cursor: pointer;
    text-align: center;
    .cloud-image {
      margin: 0 auto;
      text-align: center;
      width: 200px;
      height: 80px;
      img {
        width: 200px;
      }
    }
    .template-image {
      margin: 0 auto;
      text-align: center;
      width: 200px;
      height: 400px;
      img {
        width: 200px;
      }
    }
    &:hover, &.active {
      background-color: #eeeeee;
    }
    &.disabled {
      opacity: .5
    }
  }
}