<div ng-controller="ConnectCtrl">
  <div class="loading-indicator" ng-show="loading">
    <i class="loading-icon fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
  <h2>Connect</h2>
  <div ng-show="!loading">
    <div ng-show="identity">
      Name: {{ identity.display_name }} <br/>
      Username: {{ identity.username }} <br/>
      <a class="btn btn-primary pull-right" ng-click="nextStep()">Next &raquo;</a>
    </div>
    <div ng-show="!identity">
      <a class="btn btn-primary btn-lg" href="/auth/salesforce">Connect to Salesforce</a>
    </div>
  </div>
</div>