<div ng-controller="DatasourceCtrl">
  <h3>Select a report stored in Salesforce organization, as a mobile web site data source</h3>
  <form class="form-inline">
    <div class="form-group">
      <select class="form-control" ng-model="reportId" ng-options="report.id as report.name for report in reports">
        <option value="" selected="selected">-- Select a report to publish ---</option>
      </select>
    </div>
    <a class="btn btn-primary" ng-class="{ disabled: !reportId }" ng-click="selectReport()">Next &raquo;</a>
  </form>
</div>

