<h2>SiteGenerics - Instant Mobile Web Site Generator - </h2>

<div style="text-align: center">
  <img src="/images/site-generics-intro.jpg">
</div>

<p>
An open source tool to easily create mobile-ready web site based on Salesforce-stored data.
Useful for building any public web sites for browsing data, especially for EC-sites with products to promote to sell, or restaurants whose menus are updated periodically.
</p>

<p>
Generated site can be hosted on any web server, including Heroku, Amazon S3, or even Github Pages.
</p>

<div style="text-align: center; width: 200px; margin: 40px auto">
  <a class="btn btn-primary btn-block" ng-click="nextStep()">Start</a>
</div>